@import './components/variables';
@import './components/flex';
@import './components/sass-mq';

.row {
  @include flexbox();
  @include flex-flow(row wrap);

  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  &.no-gutter {
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

@each $var in $justify-contents {
  .row {
    &.justify-content-#{$var} {
      @include justify-content($var);
    }
  }
}

@each $var in $align-items {
  .row {
    &.align-items-#{$var} {
      @include align-items($var);
    }
  }
}

@for $var from 1 to $max-col {
  .col-#{$var} {
    width: calc(100% / #{$var} - #{$gutter});
  }
}

@each $point in $breakpoints {
  @for $var from 1 to $max-col {
    .col-#{$point}-#{$var} {
      @if ($point == 'mobile') {
        @include onMobile {
          width: calc(100% / #{$var} - #{$gutter})!important;
        }
      }
      @if ($point == 'tablet') {
        @include onTablet {
          width: calc(100% / #{$var} - #{$gutter})!important;
        }
      }
      @if ($point == 'desktop') {
        @include onDesktop {
          width: calc(100% / #{$var} - #{$gutter})!important;
        }
      }
      @if ($point == 'wide') {
        @include onWide {
          width: calc(100% / #{$var} - #{$gutter})!important;
        }
      }
    }
  }
}
