@import './components/variables';
@import './components/flex';

.flex {
  @include flexbox();
}

@each $var in $flex-direction {
  .flex-direction-#{$var} {
    @include flex-direction($var);
  }

  @each $wrap in $flex-wrap {
    .flex-flow-#{$var}-#{$wrap} {
      flex-flow: $var $wrap;
    }
  }
}

@each $var in $flex-wrap {
  .flex-direction-#{$var} {
    @include flex-direction($var);
  }
}

@each $var in $justify-content {
  .justify-content-#{$var} {
    @include justify-content($var);
  }
}

@each $var in $align-items {
  .align-items-#{$var} {
    @include align-items($var);
  }
}

@for $var from 1 to $max-col {
  .flex-order-#{$var} {
    order: $var;
  }
  .flex-grow-#{$var} {
    flex-grow: $var;
  }
  .flex-shrink-#{$var} {
    flex-grow: $var;
  }
}
